<input type="text" [formControl]="formControl" >


{{formControl.value}}

<button (click)="setAndresName()">Set</button>


<div>
  Is Dirty{{formControl.dirty}}
</div>
<div>
  Is Valid{{formControl.valid}}
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="firstName">
  <input type="number" formControlName="lastName" maxlength="10">
  <input type="text" formControlName="email" >

  <button type="submit" [disabled]="profileForm.invalid">Enviar</button>
</form>
<button (click)="setFirstName()">FirstName</button>
<div>
  Is Dirty{{profileForm.dirty}}
</div>

<div> Is Valid {{profileForm.valid}}</div>

<div> {{profileForm.controls.email.errors | json}}</div>
